.qlsp-root {
    -fx-background-color: linear-gradient(to bottom, #fff, #f8f8f8);
}

.qlsp-topbar {
    -fx-background-color: #795548;
    -fx-text-fill: white;
    -fx-padding: 10;
}

.button {
    -fx-background-color: #795548;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}

.button:hover {
    -fx-background-color: #a56b5b;
}
