/* ==============================
   TABLEVIEW (ĐÃ SỬA ĐẸP)
   ============================== */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #8b5e3b;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

/* Header Table */
.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #a88464, #8b5e3b);
    -fx-background-radius: 12 12 0 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}


.table-view .column-header,
.table-view .filler {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.table-view .table-row-cell {
    -fx-background-color: #f7f1ec;
    -fx-border-color: transparent;
    -fx-text-fill: #3e1f00;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #f2e8e1;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #cfa47b;
    -fx-text-fill: white;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #b98e6f;
    -fx-text-fill: white;
}

.table-view .cell {
    -fx-border-color: transparent;
    -fx-alignment: CENTER;
}

/* scroll bar */
.table-view .scroll-bar:vertical,
.table-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}
