.list-cell {
    -fx-padding: 10;
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 6;
    -fx-border-color: #d7ccc8;
    -fx-font-size: 14px;
    -fx-text-fill: #4e342e;
}

.list-cell:hover {
    -fx-background-color: #e0e0e0;
}
