.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: #e6cfc1;
}
.product-box {
    -fx-background-color: #ffffff;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0.3, 0, 2);
}

.product-box:hover {
    -fx-background-color: #e6f7ff;   /* chỉ đổi màu nền */
    -fx-border-color: #2a9df4;       /* đổi màu viền */
    -fx-border-width: 2;
    -fx-border-radius: 8;
}

.selected-box {
    -fx-background-color: #cce5ff;
    -fx-border-color: #2a9df4;
    -fx-border-width: 2;
    -fx-border-radius: 8;
}
