.background_left{
    -fx-background-image: url("images/hinhnencafe.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.background_right {
    -fx-background-color: F3E5D8/*linear-gradient(to bottom right, #FAF5EF, #FAF5EF);*/
}

.transparent-box {

    -fx-background-color: #FAF5EF; /* trắng mờ rgba(210, 180, 140, 0.4) */
    -fx-background-radius: 10; /* bo góc nếu muốn */
    -fx-padding: 20;
}
.background_box{

}

.text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #d6bfa8; /* viền nâu nhạt */
    -fx-border-width: 1;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 13px;
}